body {
  font-family: "Roboto", sans-serif;
  color: #595959;
  margin: auto;
  box-sizing: border-box;
}

/*Index*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px;
}

.header_img {
  width: 35%;
  padding-left: 30px;
}

a .header_img {
  width: 225px;
}

a {
  text-decoration: none;
  color: #595959;
}

a:hover {
  color: #d9832e;
}

li {
  list-style: none;
  margin-right: 30px;
  border-radius: 5px;
  background-color: #d9832e;
  padding: 10px;
}

nav a {
  color: white;
}

nav li:hover {
  cursor: pointer;
  color: white;
  opacity: 0.9;
  box-shadow: 0 3px 10px gray;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

nav a:hover {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #e6e6e6;
  padding: 50px 30px 0 30px;
}

.cards-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

a article {
  height: auto;
}

a article:hover {
  opacity: 0.9;
  box-shadow: 0 3px 10px gray;
  border-radius: 10px;
  transition: all 500ms ease-in-out;
  height: auto;
}

.cards_img {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #ccc;
  margin-bottom: 50px;
}

.cards_img figure {
  height: 250px;
  margin: 0;
}

.cards_img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.cards_byline {
  padding: 15px;
}

footer {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.footer_line {
  margin: 0 20px;
  color: #d9832e;
}

p {
  margin: 5px 0;
}

/*Page Produit*/

.item {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.item_img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #ccc;
}

.item_img figure {
  height: 250px;
  margin: 0;
}

.item_img figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item_info {
  padding-left: 30px;
}

.space {
  line-height: 20px;
}

.space-tb {
  margin: 10px 0 20px 0;
}

.border-select {
  border: 1px solid #ccc;
}

.btn {
  border: 1px solid white;
  background-color: #d9832e;
  color: white;
  border-radius: 5px;
  padding: 6px;
  margin-top: 40px;
}

.btn:hover {
  cursor: pointer;
  color: white;
  opacity: 0.9;
  box-shadow: 0 3px 10px gray;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

/*Page Panier*/

.panier {
  margin-bottom: 50px;
  border: 1.5px solid #d9832e;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.panier_info {
  display: flex;
  justify-content: space-around;
}

.bg-panier {
  background-color: #d9832e;
  width: 385px;
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 10px 0;
}

.total {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  padding: 20px 140px 0 0;
}

.total-price {
  padding-left: 10px;
}

.commande {
  border: 1.5px solid #d9832e;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
}

.space-right {
  margin-right: 60px;
}

.space-bottom {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.btn-none-margin {
  margin-top: 0;
}

/*Page Confirmation*/

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-bold {
  font-size: 20px;
  font-weight: 700;
  color: #d9832e;
}

.mg-btm {
  margin-bottom: 50px;
}

/*Version Mobile*/

@media all and (max-width: 768px) {
  .cards-top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .cards-bottom {
    flex-direction: column;
    align-items: center;
  }

  .cards_img {
    margin-bottom: 30px;
  }

  #card {
    margin-right: 0;
  }

  .item {
    flex-direction: column;
    align-items: center;
  }

  .item_info {
    padding-left: 20px;
    margin-top: 30px;
  }

  .space-right {
    margin-right: 260px;
  }
}

/*Version Tablette*/
@media all and (min-width: 769px) and (max-width: 992px) {
  main {
    padding: 50px 20px 0 20px;
  }

  .cards_img {
    width: 240px;
  }

  .cards_img figure {
    height: 200px;
  }

  .space-right {
    margin-right: 20px;
  }
}

/*Version Large devices*/

@media (min-width: 768px) {
  .footer-fix {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}

@media all and (min-width: 993px) and (max-width: 1200px) {
  .cards_img {
    width: 290px;
  }

  .cards_img figure {
    height: 200px;
  }
}

/*Version XL devices*/

@media all and (min-width: 1361px) {
  body {
    max-width: 1360px;
    margin: auto;
  }
}
